body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: #1a1a1a;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("menu fondo.png");
  display: flex;
  flex-direction: column;
  color: black;
  padding: 2rem;
  text-align: center;
  height: 90vh;
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: local; 
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}
header2 {
  background-image: url("Proytecto logo.png");
  display: flex;
  flex-direction: column;
  color: black;
  padding: 2rem;
  text-align: center;
  height: 90vh;
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: local; 
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;

}
header3 {
  background-image: url("AI fondo.png");
  display: flex;
  flex-direction: column;
  color: black;
  padding: 2rem;
  text-align: center;
  height: 90vh;
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: local; 
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;

}
header4 {
  background-image: url("Vinculacion logo.png");
  display: flex;
  flex-direction: column;
  color: black;
  padding: 2rem;
  text-align: center;
  height: 90vh;
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: local; 
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;

}
header5 {
  background-image: url("conclucion logo.png");
  display: flex;
  flex-direction: column;
  color: black;
  padding: 2rem;
  text-align: center;
  height: 90vh;
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: local; 
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
}
header6 {
  background-image: url("Referencias logo.png");
  display: flex;
  flex-direction: column;
  color: black;
  padding: 2rem;
  text-align: center;
  height: 90vh;
  background-color: gray;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: local; 
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;

}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #eeeeee;
  font-size: 0.9rem;
}

nav {
  position: sticky;
  top: 0;
  background-color: red;
  z-index: 100;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; 
  background-color: #d6d3d3;
  padding: 0.5rem;
  margin: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.flex-container {
  display: flex;
  padding: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  background-color: gray;
  box-shadow: 0 10px 10px white; 
  border-radius: 5rem;
  align-items: center;
  justify-content: center;
}


.bloque-texto {
  max-width: 60%;
  padding: 5px;
  margin: 0;
  color: white;
}

.container {
  width: 70%;     
  padding: 2rem;  
}

.container img {
  max-width: 120%;
  margin: 0;

}
a {
  color: red;
  text-decoration: none;

a:hover {
  text-decoration: underline;
}